<app-navbar [paginaActual]="current"></app-navbar>
<section id="principal" class="page">
    <h1>Bienvenido</h1>
    <p>
        En nuestra p&aacute;gina encontrar&aacute; toda la informaci&oacute;n correspondiente a nuestro acueducto y los proyectos que se desempeñan d&iacute;a a d&iacute;a.
    </p>
    <p>
        Consultar recibos del agua:
        <a class="link-recibos" href="http://www.acueductoscr.com/recibos" target="_blank">Consulte aqu&iacute;</a
    >
  </p>
  <div>
    <a href="#avisos" class="btn btn-p" (click)="cambiarPagina('avisos')">
      Siguiente&nbsp;<i class="fas fa-arrow-circle-down"></i>
    </a>
        </div>
</section>

<section id="avisos" class="page">
    <h2>Avisos Importantes</h2>
    <div class="container-lista-avisos">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Aviso</th>
                    <th scope="col"><i class="fas fa-exclamation-triangle triangle_red"></i> Detalle Aviso</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aviso of this.authService.avisos">
                    <td>{{aviso.titulo}}</td>
                    <td>{{aviso.mensaje}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a href="#principal" class="btn btn-p btn-dark" (click)="cambiarPagina('principal')">
      Anterior&nbsp;<i class="fas fa-arrow-circle-up"></i> </a
    >&nbsp;
    <a href="#horarios" class="btn btn-p" (click)="cambiarPagina('horarios')">
      Siguiente&nbsp;<i class="fas fa-arrow-circle-down"></i>
    </a>
    </div>
</section>

<section id="horarios" class="page">
    <br />
    <h2>Horarios</h2>
    <ul class="list-group ul-horarios">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Lunes
            <span class="badge badge-primary badge-pill">8:00am - 12:00md</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Martes
            <span class="badge badge-primary badge-pill">8:00am - 12:00md</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Miercoles
            <span class="badge badge-primary badge-pill">8:00am - 12:00md</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Jueves
            <span class="badge badge-primary badge-pill">8:00am - 12:00md</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Viernes
            <span class="badge badge-primary badge-pill">8:00am - 12:00md</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Sábado
            <span class="badge badge-primary badge-pill">8:00am - 12:00md</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Domingo
            <span class="badge badge-danger badge-pill">Cerrado</span>
        </li>
    </ul>
    <p class="alert-danger">No contempla feriados*</p>
    <div>
        <a href="#avisos" class="btn btn-p btn-dark" (click)="cambiarPagina('avisos')">
      Anterior&nbsp;<i class="fas fa-arrow-circle-up"></i> </a
    >&nbsp;
    <a href="#cuentas" class="btn btn-p" (click)="cambiarPagina('cuentas')">
      Siguiente&nbsp;<i class="fas fa-arrow-circle-down"></i>
    </a>
    </div>
</section>

<section id="cuentas" class="page">
    <h2>Cuentas</h2>
    <p>
        Tenemos a su disposici&oacute;n diferentes formas de pago, para facilitar el pago de los servicios de agua, seguridad y mantenimiento
    </p>
    <img src="assets/img/transferencias.jpeg" class="img-fluid img-cuentas-bancarias" alt="Responsive image" />
    <a href="assets/img/transferencias.jpeg" class="img-link-imagen" target="_blank">Ver Cuentas</a
  >
  <div>
    <a
      href="#horarios"
      class="btn btn-p btn-dark"
      (click)="cambiarPagina('horarios')"
    >
      Anterior&nbsp;<i class="fas fa-arrow-circle-up"></i> </a
    >&nbsp;
    <a href="#proyectos" class="btn btn-p" (click)="cambiarPagina('proyectos')">
      Siguiente&nbsp;<i class="fas fa-arrow-circle-down"></i>
    </a>
    </div>
</section>

<section id="proyectos" class="page">
    <h2>Proyectos</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Proyecto</th>
                <th scope="col">Documento Detallado del Proyecto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Proyecto 2018</td>
                <td>
                    <a href="assets/res/PROYECTOS 2018.pdf" target="_self" download="Proyectos2018.pdf">Descargar Proyectos 2018</a>
                </td>
            </tr>
            <tr>
                <td>Proyecto de Pruebas de Laboratorio </td>
                <td>
                    <a href="assets/res/LABORATORIO NACIONAL.pdf" target="_self" download="DocumentoLaboratorio.pdf">Descargar Documento Laboratorio</a>
                </td>
            </tr>
            <tr>
                <td>Proyecto de Educación Ambiental </td>
                <td>
                    <a href="assets/res/EDUCACION AMBIENTAL.pdf" target="_self" download="EducacionAmbiental.pdf">Descargar Documento Proyecto</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="#cuentas" class="btn btn-p btn-dark" (click)="cambiarPagina('cuentas')">
      Anterior&nbsp;<i class="fas fa-arrow-circle-up"></i> </a
    >&nbsp;
    <a
      href="#sobrenosotros"
      class="btn btn-p"
      (click)="cambiarPagina('sobrenosotros')"
    >
      Siguiente&nbsp;<i class="fas fa-arrow-circle-down"></i>
    </a>
    </div>
</section>

<section id="sobrenosotros" class="page">
    <h2>Sobre Nosotros</h2>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-angle-down"></i>  Misi&oacute;n
          </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Abastecer de agua potable en calidad, cantidad y continuidad, a la población de la Urbanización Cifuentes, con un servicio al cliente eficaz y en apego al marco legal aplicable según los requerimientos y exigencias del entorno, contribuyendo al desarrollo
                        socio económico y ambiental de la comunidad.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fas fa-angle-down"></i> Visi&oacute;n
          </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <p>
                        Ser la Asociación Administradora de nuestro Acueducto líder en la gestión integral del recurso hídrico, comprometida con la excelencia en el servicio al cliente y asegurar el suministro de agua potable a las futuras generaciones de manera sostenible con
                        el medio ambiente.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a href="#proyectos" class="btn btn-p" (click)="cambiarPagina('proyectos')">
      Anterior&nbsp;<i class="fas fa-arrow-circle-up"></i>
    </a>
    </div>
</section>